<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin | Surat Masuk</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Fontawesome Icons -->
    <link rel="stylesheet" href="css/all.min.css" />

    <!-- Template : overlayScrollbars -->
    <link
      rel="stylesheet"
      href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- Template : theme style -->
    <link rel="stylesheet" href="css/adminlte.min.css" />

    <!-- Bootstrap data tables -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
    />

     <!-- jQuery -->
     <script src="plugins/jquery/jquery.min.js"></script>

    <!-- Date picker -->
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- Initializing date picker : rentang start -->
    <script>
      $(function () {
        $("#datepickerStart").datepicker();
      });
    </script>

    <!-- Initializing date picker : rentang end -->
    <script>
      $(function () {
        $("#datepickerEnd").datepicker();
      });
    </script>

    <!-- Initializing date picker : tanggal pengajuan tambah -->
    <script>
      $(function () {
        $("#datepickerPengajuanTambah").datepicker();
      });
    </script>

    <!-- Initializing date picker : tanggal pengajuan edit -->
    <script>
      $(function () {
        $("#datepickerPengajuanEdit").datepicker();
      });
    </script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/surat-masuk-style.css" />
  </head>
  <body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
    <div class="wrapper">
      <!-- Preloader start -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__wobble"
          src="img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>
      <!-- Preloader end -->

      <!-- Navbar start -->
      <nav id="navbar" class="main-header navbar navbar-expand navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item d-flex align-items-center user">
            <div
              class="image__user d-flex justify-content-center align-items-center"
            >
              <h3 class="text-white fw__med">A</h3>
            </div>
            <div class="dropdown">
              <button
                class="border-0 bg-transparent dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Admin <i class="fa-solid fa-angle-down ms-1"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-arrow-right-from-bracket me-2"></i
                    >Keluar</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- Navbar end -->

      <!-- Sidebar start -->
      <aside id="sidebar" class="main-sidebar sidebar-dark-primary">
        <a href="index.html" class="brand-link d-flex align-items-center">
          <div class="d-flex justify-content-center align-items-center mr12">
            <h3 class="text-white fw__med">S</h3>
          </div>
          <div class="name brand-text">
            <h5 class="black fw__ebold mb-1">SIMAS</h5>
            <h5 id="brandText" class="black fw__normal">
              Sistem Manajemen Surat
            </h5>
          </div>
        </a>

        <div id="sidebarMenu" class="sidebar">
          <nav class="mt-5">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <li class="nav-item">
                <a href="index.html" class="nav-link">
                  <i class="fa-solid fa-house me-1"></i>
                  <p class="fw__light">Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="surat-masuk.html" class="nav-link">
                  <i class="fa-solid fa-envelope me-1"></i>
                  <p class="fw__light">Surat Masuk</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="surat-keluar.html" class="nav-link">
                  <i class="fa-solid fa-envelope me-1"></i>
                  <p class="fw__light">Surat Keluar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="surat-antidatir.html" class="nav-link active">
                  <i class="fa-solid fa-envelope me-1"></i>
                  <p class="fw__light">Surat Antidatir</p>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <!-- Sidebar end -->

      <!-- Main page start -->
      <div id="mainPage" class="content-wrapper surat__masuk">
        <section class="content">
          <!-- Old start -->
          <!-- <div class="row">
            <div class="col-md-6 col-lg-8 col-12">
              <div class="card p-4 mb-md-0">
                <h4 class="fw__bold black mb-3">Keterangan</h4>
                <h5 class="fw__normal black__light mb-3">
                  Surat masuk wajib dilakukan registrasi. Registrasi surat
                  dilakukan dengan sistem dalam melakukan kearsipan surat.
                  Operator dapat melakukan registrasi surat masuk dan penerusan
                  ke pimpinan agar dapat menindak lanjuti surat tersebut. Anda
                  dapat mendownload "Tata Naskah Dinas di Lingkungan Universitas
                  Diponegoro" sebagai pedoman dalam membuat nomor surat dengan
                  menekan tombol dibawah ini.
                </h5>
                <a href="" class="mybtn blue__light fw__semi"
                  ><i class="fa-solid fa-download me-1"></i> Download
                </a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
              <div class="card p-4 h-100">
                <h4 class="fw__bold black mb-3">Aktivitas Terakhir</h4>
              </div>
            </div>
          </div> -->
          <!-- Old end -->

          <div class="card p-4 mb-md-0 keterangan">
            <h4 class="fw__bold black mb-3">Keterangan</h4>
            <h5 class="fw__normal black__light mb-3">
              Surat masuk wajib dilakukan registrasi. Registrasi surat dilakukan
              dengan sistem dalam melakukan kearsipan surat. Operator dapat
              melakukan registrasi surat masuk dan penerusan ke pimpinan agar
              dapat menindak lanjuti surat tersebut. Anda dapat mendownload
              "Tata Naskah Dinas di Lingkungan Universitas Diponegoro" sebagai
              pedoman dalam membuat nomor surat dengan menekan tombol dibawah
              ini.
            </h5>
            <a href="" class="mybtn blue fw__light"
              ><i class="fa-solid fa-download me-1"></i> Download
            </a>
          </div>

          <div class="card p-4 mt-3">
            <div
              class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-3"
            >
              <h4 class="fw__bold black">Daftar Surat Antidatir</h4>
              <div
                class="d-flex align-items-center gap-2 input__tanggal flex-wrap"
              >
                <p>Rentang tanggal:</p>
                <input type="text" id="datepickerStart" placeholder="Awal" />
                <input type="text" id="datepickerEnd" placeholder="Akhir" />
                <button
                  id="tes"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#registrasiSuratKeluar"
                  class="mybtn blue"
                >
                  <i class="fa-solid fa-plus me-2"></i>Registrasi Surat
                </button>
              </div>
            </div>

            <!-- Modal registrasi start -->
            <div
              class="modal fade"
              id="registrasiSuratKeluar"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content p-3">
                  <div class="modal-header">
                    <h4
                      class="modal-title fw__bold black"
                      id="exampleModalLabel"
                    >
                      Form Registrasi Surat Keluar
                    </h4>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form id="myform">
                      <div class="row">
                        <div class="col-lg-6 col-12">
                          <div class="mb-3">
                            <label
                              for="noSurat"
                              class="form-label black fw-semibold"
                              >Nomor Surat</label
                            >
                            <div class="input d-flex align-items-center">
                              <input
                                type="text"
                                readonly
                                class="form-control"
                                placeholder="Nomor surat"
                                id="noSurat"
                                aria-describedby="emailHelp"
                              />
                              <button type="button" class="ms-2">
                                Ambil Nomor
                                <i class="fas fa-search ms-1"></i>
                              </button>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label
                              for="kodeUnit"
                              class="form-label black fw-semibold"
                              >Kode Unit Surat</label
                            >
                            <select
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected>-- Pilih salah satu --</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label
                              for="kodeHak"
                              class="form-label black fw-semibold"
                              >Kode Hal</label
                            >
                            <select
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected>-- Pilih salah satu --</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label
                              for="kodeHak"
                              class="form-label black fw-semibold"
                              >Tujuan Surat</label
                            >
                            <select
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected>-- Pilih salah satu --</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label
                              for="kodeHak"
                              class="form-label black fw-semibold"
                              >Sifat</label
                            >
                            <select
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected>-- Pilih salah satu --</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6 col-12">
                          <div class="mb-3">
                            <label
                              for="kodeHak"
                              class="form-label black fw-semibold"
                              >Disahkan Oleh</label
                            >
                            <select
                              class="form-select"
                              aria-label="Default select example"
                            >
                              <option selected>-- Pilih salah satu --</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label
                              for="date"
                              class="form-label black fw-semibold"
                              >Tanggal Disahkan</label
                            >
                            <duet-date-picker
                              id="mydateKeluar"
                              identifier="date"
                            ></duet-date-picker>
                          </div>
                          <div class="mb-3">
                            <label
                              for="lampiran"
                              class="form-label black fw-semibold"
                              >Upload Lampiran</label
                            >
                            <input
                              type="file"
                              class="form-control"
                              id="lampiran"
                              aria-describedby="emailHelp"
                            />
                          </div>
                          <div class="mb-3">
                            <label
                              for="exampleFormControlTextarea1"
                              class="form-label black fw-semibold"
                              >Perihal</label
                            >
                            <textarea
                              class="form-control perihal"
                              id="exampleFormControlTextarea1"
                              rows="4"
                              placeholder="Contoh : Permohonan perijinan penelitian"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="mybtn light"
                      data-bs-dismiss="modal"
                    >
                      Batal
                    </button>
                    <button
                      type="button"
                      class="mybtn blue"
                      onclick="confirmAdd()"
                    >
                      Tambah
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal registrasi end -->

            <div class="table-responsive">
              <table id="mytable" class="table w-100">
                <thead>
                  <tr>
                    <th class="no">No</th>
                    <th>Asal Surat / No. Surat</th>
                    <th>Perihal</th>
                    <th>Penerima</th>
                    <th>Sifat</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="no">1</td>
                    <td>
                      KETUA DEPARTEMEN ILMU GIZI Nomor :
                      14/UN7.5.4.4/DIG/KP/2021
                      <br />
                      <span class="date d-inline-block mt-1"
                        >23 November 2021 - 04:08 WIB</span
                      >
                    </td>
                    <td>Permohonan Kenaikan Gaji Pegawai Kontrak</td>
                    <td>Dekan Fakultas</td>
                    <td>
                      <div
                        class="sifat rahasia d-flex justify-content-center align-items-center"
                      >
                        <h6 class="fw__semi">Rahasia</h6>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <button
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#editSuratAntidatir"
                          class="myicon blue d-flex align-items-center justify-content-center me-2"
                        >
                          <i class="fa-regular fa-pen-to-square"></i>
                        </button>
                        <button
                          type="button"
                          class="myicon red d-flex align-items-center justify-content-center"
                          onclick="confirm()"
                        >
                          <i class="fa-solid fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <!-- Modal edit start -->
                  <div
                  class="modal fade"
                  id="editSuratAntidatir"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content p-3">
                      <div class="modal-header">
                        <h4
                          class="modal-title fw__bold black"
                          id="exampleModalLabel"
                        >
                          Form Edit Surat Antidatir
                        </h4>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <form id="myform">
                          <div class="row">
                            <div class="col-lg-6 col-12">
                              <div class="mb-3">
                                <label
                                  for="noSurat"
                                  class="form-label black fw-semibold"
                                  >Nomor Surat</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Masukkan nomor surat"
                                  id="noSurat"
                                  aria-describedby="emailHelp"
                                />
                              </div>
                              <div class="mb-3">
                                <label
                                  for="kodeUnit"
                                  class="form-label black fw-semibold"
                                  >Kode Unit Surat</label
                                >
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                >
                                  <option selected>
                                    -- Pilih salah satu --
                                  </option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="kodeHak"
                                  class="form-label black fw-semibold"
                                  >Kode Hal</label
                                >
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                >
                                  <option selected>
                                    -- Pilih salah satu --
                                  </option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="kodeHak"
                                  class="form-label black fw-semibold"
                                  >Tujuan Surat</label
                                >
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                >
                                  <option selected>
                                    -- Pilih salah satu --
                                  </option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="kodeHak"
                                  class="form-label black fw-semibold"
                                  >Sifat</label
                                >
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                >
                                  <option selected>
                                    -- Pilih salah satu --
                                  </option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-6 col-12">
                              <div class="mb-3">
                                <label
                                  for="kodeHak"
                                  class="form-label black fw-semibold"
                                  >Disahkan Oleh</label
                                >
                                <select
                                  class="form-select"
                                  aria-label="Default select example"
                                >
                                  <option selected>
                                    -- Pilih salah satu --
                                  </option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Three</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="date"
                                  class="form-label black fw-semibold"
                                  >Tanggal Disahkan</label
                                >
                                <duet-date-picker
                                  id="mydate"
                                  identifier="date"
                                ></duet-date-picker>
                              </div>
                              <div class="mb-3">
                                <label
                                  for="lampiran"
                                  class="form-label black fw-semibold"
                                  >Upload Lampiran</label
                                >
                                <input
                                  type="file"
                                  class="form-control"
                                  id="lampiran"
                                  aria-describedby="emailHelp"
                                />
                              </div>
                              <div class="mb-3">
                                <label
                                  for="exampleFormControlTextarea1"
                                  class="form-label black fw-semibold"
                                  >Perihal</label
                                >
                                <textarea
                                  class="form-control perihal"
                                  id="exampleFormControlTextarea1"
                                  rows="4"
                                  placeholder="Contoh : Permohonan perijinan penelitian"
                                ></textarea>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="mybtn light"
                          data-bs-dismiss="modal"
                        >
                          Batal
                        </button>
                        <button
                          type="button"
                          class="mybtn blue"
                          onclick="confirmEdit()"
                        >
                          Simpan
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal edit end -->
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
      <!-- Main page end -->

      <!-- Footer start -->
      <footer class="main-footer px-4 py-3">
        <strong>Copyright &copy; 2023. Digital Innovasion & Media.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.0
        </div>
      </footer>
      <!-- Footer end -->
    </div>

    <!-- Template : overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- Template : AdminLTE App -->
    <script src="js/adminlte.js"></script>

    <!-- Bootstrap JS -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Fontawesome Icons -->
    <script src="js/all.min.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>

    <!-- Sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Sweet alert : confirm delete -->
    <script>
      function confirm() {
        new Audio("audio/warning-edited.mp3").play();
        Swal.fire({
          title: "Konfirmasi",
          text: "Yakin ingin menghapus file?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#2F5596",
          cancelButtonColor: "#d33",
          confirmButtonText: "Ya, hapus!",
          cancelButtonText: "Batal",
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire("Berhasil!", "File anda berhasil dihapus.", "success");
            new Audio("audio/success-edited.mp3").play();
          } else {
            new Audio("audio/cancel-edited.mp3").play();
          }
        });
      }
    </script>

    <!-- Sweet alert : confirm add -->
    <script>
      function confirmAdd() {
        new Audio("audio/warning-edited.mp3").play();
        Swal.fire({
          title: "Konfirmasi",
          text: "Pastikan data yang anda masukkan benar!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#2F5596",
          cancelButtonColor: "#d33",
          confirmButtonText: "Tambah",
          cancelButtonText: "Batal",
          reverseButtons: true,
        }).then((result) => {
          if (result.isConfirmed) {
            new Audio("audio/success-edited.mp3").play();
            Swal.fire("Berhasil!", "Data berhasil ditambahkan.", "success");
            $("#registrasiSuratKeluar").modal("hide");
          } else {
            new Audio("audio/cancel-edited.mp3").play();
            $("#registrasiSuratKeluar").modal("hide");
          }
        });
      }
    </script>

    <!-- Sweet alert : confirm edit -->
    <script>
      function confirmEdit() {
        new Audio("audio/warning-edited.mp3").play();
        Swal.fire({
          title: "Konfirmasi",
          text: "Pastikan data yang anda masukkan benar!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#2F5596",
          cancelButtonColor: "#d33",
          confirmButtonText: "Simpan",
          cancelButtonText: "Batal",
          reverseButtons: true,
        }).then((result) => {
          if (result.isConfirmed) {
            new Audio("audio/success-edited.mp3").play();
            Swal.fire("Berhasil!", "Data berhasil diperbarui.", "success");
            $("#editSuratKeluar").modal("hide");
          } else {
            new Audio("audio/cancel-edited.mp3").play();
            $("#editSuratKeluar").modal("hide");
          }
        });
      }
    </script>

    <!-- Data tables -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"
    ></script>

    <!-- Data tables : responsive -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"
    ></script>

    <!-- Initializing data tables -->
    <script>
      $(document).ready(function () {
        $("#mytable").DataTable({
          // responsive: false,
          responsive: {
            details: {
              display: $.fn.dataTable.Responsive.display.childRowImmediate,
              type: "none",
              target: "",
            },
          },
          dom: '<ft`$coba`<"d-flex align-items-center justify-content-between mt-3"<"d-flex align-items-center"li><"right"p>>>',
          // dom: '<"table-responsive"tpf>',
          destroy: true,
          order: [[0, "desc"]],
          language: {
            lengthMenu: "Tampilkan _MENU_",
            zeroRecords:
              "Anda belum mengupload laporan kegiatan. <br>Silahkan upload laporan kegiatan terlebih dahulu.",
            info: "Menampilkan _PAGE_ dari _PAGES_",
            infoEmpty: "Baris tidak tersedia",
            infoFiltered: "(filtered from _MAX_ total records)",
            search: "Cari :",
            // pagingType: "numbers",
            // paginate: {
            //   previous: "Sebelumnya",
            //   next: "Berikutnya",
            // },
          },
          oLanguage: {
            oPaginate: {
              sNext:
                '<span class="pagination-fa"><i class="fa-solid fa-angle-right"></i></span>',
              sPrevious:
                '<span class="pagination-fa"><i class="fa-solid fa-angle-left"></i></span>',
            },
          },
          lengthMenu: [
            [5, 10, 20, -1],
            [5, 10, 20, "All"],
          ],
        });
      });
    </script>
  </body>
</html>
