/* Main page */
.dashboard .masuk .icon {
    min-width: 52px;
    height: 52px;
    background-color: #bff8d4;
    border-radius: 50%;
}

.dashboard .masuk .icon svg {
    color: #40a798;
}

.dashboard .keluar .icon {
    min-width: 52px;
    height: 52px;
    background-color: #b5d9e7;
    border-radius: 50%;
}

.dashboard .keluar .icon svg {
    color: #2f5596;
}

.dashboard .antidatir .icon {
    min-width: 52px;
    height: 52px;
    background-color: #ffebbc;
    border-radius: 50%;
}

.dashboard .antidatir .icon svg {
    color: #ffa323;
}

.dashboard .card.surat {
    min-height: 116px;
}

.dashboard .informasi {
    background-color: var(--blue);
}

.informasi h4 {
    line-height: 1.5;
}
