/* Poppin font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ================================== */
/*          Variabel start            */
/* ================================== */
:root {
    --blue: #556ee6;
    --blue2: rgb(80, 165, 241);
    --blue-light: #b5d9e7;
    --black: #3c4648;
    --black-light: #74788d;
    --grey: #b4bec0;
    --light: #eff2f7;
    --white: #fff;
}
/* ================================== */
/*          Variabel end              */
/* ================================== */

/* ================================== */
/*       Inisialisasi start           */
/* ================================== */
* {
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

/* Font weight start */
.fw__light {
    font-weight: 300;
}
.fw__normal {
    font-weight: 400;
}
.fw__med {
    font-weight: 500;
}
.fw__semi {
    font-weight: 600;
}
.fw__bold {
    font-weight: 700;
}
.fw__ebold {
    font-weight: 800;
}
/* Font weight start */

/* Color start */
.blue {
    color: var(--blue);
}
.blue__light {
    color: var(--blue-light);
}
.black {
    color: var(--black);
}
.black__light {
    color: var(--black-light);
}
.light {
    color: var(--light);
}
/* Color end */

/* Button start */
.mybtn {
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    display: block;
    cursor: pointer;
    width: fit-content;
    border: 1px solid;
    font-size: 14px;
    border: 1px solid;
    transition: 0.2s;
}
.mybtn.blue {
    background-color: var(--blue);
    color: white;
    border-color: var(--blue);
}
.mybtn.blue:hover {
    background-color: #254b8c;
    transition: 0.2s;
}
.mybtn.yellow {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffe69c;
}
.mybtn.yellow:hover {
    background-color: #eadbab;
    transition: 0.2s;
}
.mybtn.blue__light {
    background-color: var(--light);
    color: var(--blue);
}
.mybtn.blue__light:hover {
    background-color: #cdd4da;
    transition: 0.2s;
}
.mybtn.white__reverse {
    background-color: unset;
    color: white;
}
.mybtn.white__reverse:hover {
    background-color: white;
    color: var(--black);
}
.mybtn.white,
.mybtn.light {
    border: 1px solid var(--grey);
}
.mybtn.white:hover {
    background-color: var(--blue);
    color: white;
    transition: 0.3s;
}
.mybtn.light {
    color: var(--black);
}
.mybtn.light:hover {
    background-color: var(--light);
    transition: 0.3s;
}
.btn__blue {
    background-color: white;
}
.btn__blue:hover {
    background-color: var(--light);
    transition: 0.3s;
}
.btn__blue:focus-visible {
    background-color: var(--light);
}
.btn__export {
    background: var(--black-light) !important;
    color: white !important;
    border-color: var(--black-light) !important;
    padding: 0.5rem 1rem !important;
    border-width: 1px;
    border-style: solid;
    margin: 0 !important;
    height: 40px;
    box-sizing: border-box;
}
.btn__export:hover {
    border-color: var(--black-light) !important;
    transition: 0.2s;
    color: white !important;
}
.dt-buttons {
    gap: 0.5rem !important;
}
/* Button end */

/* Icon start */
.myicon {
    display: block;
    cursor: pointer;
    background-color: unset;
    border: 1px solid;
    border-radius: 0.25rem;
    min-width: 40px;
    height: 40px;
    font-size: 14px;
    padding: 0.75rem;
}
.myicon.red {
    background-color: #f46a6a;
    color: white;
    border-color: rgb(255, 107, 131, 0.4);
}
.myicon.blue {
    background-color: var(--blue);
    color: white;
    border-color: var(--blue);
}
.myicon.green {
    background-color: #34c38f;
    color: white;
    border-color: rgb(63, 166, 151, 0.4);
}
.myicon.light {
    border-color: var(--grey);
    color: var(--black);
    transition: 0.2s;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.myicon.yellow {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffe69c;
}
/* Icon end */

/* Tooltip start */
.mytooltip {
    bottom: 120%;
    background-color: var(--black);
    font-size: 14px;
    border-radius: 0.25rem;
    visibility: hidden;
    opacity: 0;
    width: max-content;
}
.myicon:hover .mytooltip {
    visibility: visible;
    opacity: 1;
}
.alert-warning {
    background-color: #fff3cd;
    color: #664d03;
    border-color: #ffe69c;
}
/* Tooltip end */

/* Card start */
.card {
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
    margin-bottom: unset;
}
/* Card end */

/* Alert start */
.alert-primary {
    color: #004085 !important;
    background-color: #cce5ff !important;
    border-color: #b8daff !important;
}
/* Alert end */
/* ================================== */
/*         Inisialisasi end           */
/* ================================== */

/* ================================== */
/*         Datatables start           */
/* ================================== */
/* Tabel start */
#mytable {
    width: 100% !important;
    padding: 0.5rem 0;
}
#mytable thead th {
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
    background-color: var(--light);
    padding: 1rem;
}
#mytable thead th:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#mytable thead th:nth-child(2) {
    min-width: 200px;
}
#mytable thead th:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
#mytable tbody tr td {
    color: var(--black);
    font-weight: 400;
    padding: 1rem;
}
#mytable tfoot th {
    border-top: none !important;
}
#mytable .no {
    width: 16px !important;
    text-align: center;
}
#mytable ul {
    padding: 0;
}
#mytable tbody tr:hover {
    background-color: #fff !important;
}
#mytable tbody .date {
    font-weight: 300;
    font-size: 14px;
}
/* #mytable thead th:last-child {
    min-width: 180px;
} */
.surat__keluar #mytable thead th:last-child {
    min-width: unset;
}
.surat__antidatir #mytable thead th:last-child {
    min-width: unset;
}
/* Tabel end */

/* Tabel sifat start */
#mytable .sifat h5 {
    font-size: 14px;
    font-weight: 500;
}
#mytable .sifat {
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    width: 90px;
    height: 40px;
}
#mytable .sifat.rahasia {
    background-color: rgba(80, 165, 241, 0.25);
    color: rgb(80, 165, 241);
    border-color: rgb(47, 85, 150, 0.4);
}
#mytable .sifat.biasa {
    background-color: var(--light);
    color: var(--black);
    border-color: #a2acb5;
}
#mytable .sifat.segera {
    background-color: rgba(52, 195, 143, 0.18);
    color: #34c38f;
}
#mytable .sifat.penting {
    background-color: rgba(241, 180, 76, 0.18);
    color: #f1b44c;
    border-color: #ffcb4b;
}
/* Tabel sifat start */

/* Tabel info start */
#mytable_info {
    padding-top: 0;
    color: var(--black-light);
    font-size: 16px;
    font-weight: 300;
}
/* Tabel info end */

/* Tabel length start */
#mytable_length {
    margin-right: 1rem;
}
#mytable_length label {
    margin-bottom: 0;
    color: var(--black-light);
    font-size: 16px;
    font-weight: 300;
}
#mytable_length select {
    width: 80px;
    padding: 0.25rem 0.5rem !important;
    height: unset;
}
#mytable_length select:focus {
    box-shadow: none;
    border-color: var(--blue);
}
/* Tabel length end */

/* Tabel paginate start */
#mytable_paginate .page-item {
    margin: 0 0.25rem;
    width: 36px;
    text-align: center;
}
#mytable_paginate .page-item a {
    color: var(--black-light);
    border-radius: 50%;
}
#mytable_paginate .page-item.active a {
    border-radius: 50%;
    background-color: var(--blue);
    color: white;
}
#mytable_paginate .page-link:hover {
    border-radius: 50%;
}
#mytable_paginate .page-item.next a,
#mytable_paginate .page-item.previous a {
    background-color: unset;
}
#mytable_paginate li span i {
    color: var(--black-light);
    font-weight: 600;
}
#mytable_paginate li a {
    border: none;
    outline: none;
    box-shadow: none;
}
#mytable_paginate li a:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
#mytable_paginate .previous {
    margin-right: 1rem;
}
#mytable_paginate .next {
    margin-left: 1rem;
}
/* Tabel paginate start */
/* ================================== */
/*          Datatables end            */
/* ================================== */

.dtr-details li {
    margin-bottom: 1rem;
}

.dtr-title {
    display: block;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 0.25rem;
}

/* Form */
.form-control,
.form-select,
.myform input,
.myform select,
.myform textarea {
    font-weight: 400;
    color: var(--black-light);
    border-color: var(--grey);
    padding: 0.5rem 0.75rem !important;
    height: 42px;
    font-size: 16px;
}

.myform button {
    padding: 0.5rem 0.75rem !important;
    height: 42px;
}

.form-select:focus,
.form-control:focus,
.myform select:focus,
.myform input:focus,
.myform textarea:focus {
    font-weight: 400;
    color: var(--black);
    outline: none;
    box-shadow: none;
    border-color: var(--blue);
}

.input__nomor {
    cursor: not-allowed;
}

#nomorSurat {
    cursor: not-allowed;
}

::selection {
    color: white;
    background-color: #3297fd;
}

#mydate input,
#mydateKeluar input {
    padding: 6px 12px;
    border: 1px solid var(--grey);
    border-radius: 0.25rem;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 16px;
    min-height: 38px;
}

#mydate input::placeholder,
#mydateKeluar input::placeholder {
    color: var(--black-light);
}

#mydate button:focus,
#mydateKeluar button:focus {
    border: none;
    box-shadow: none;
}

#mydateKeluar .duet-date__dialog {
    bottom: unset;
}

#mydate .duet-date__select--month:focus,
#mydateKeluar .duet-date__select--month:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

/* ================================== */
/*           Modal section            */
/* ================================== */
.modal__section input:focus,
.modal__section select:focus,
.modal__section textarea:focus,
#mydate input:focus {
    box-shadow: none !important;
    border-color: var(--blue);
}
.modal__section input:focus-visible,
.modal__section select:focus-visible,
.modal__section textarea:focus-visible {
    border-color: var(--blue);
    outline: none;
}

#registrasiSuratMasuk .perihal {
    min-height: 13.9rem;
}

#editSuratMasuk .perihal,
#editSuratKeluar .perihal {
    min-height: 8.3rem !important;
}

#registrasiSuratKeluar .perihal {
    height: 13.9rem !important;
}

#registrasiSuratKeluar .input input {
    width: 60%;
}

#registrasiSuratKeluar .input button {
    padding: 6px;
    min-height: 42px;
    background-color: var(--black);
    color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    border: 1px solid var(--black-light);
    display: block;
    width: 40%;
}

/* Modal */
.modal-content .btn-close {
    border-radius: 50%;
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--grey);
    transition: 0.2s;
    font-size: 14px;
}

.modal-content .btn-close:focus {
    outline: none;
    box-shadow: none;
}

#mytable .dataTables_filter::before {
    width: 15px;
    height: 15px;
    background-color: red;
}

/* ================================== */
/*           Navbar start             */
/* ================================== */
#navbar {
    padding: 20px 16px;
}
#navbar .image__user {
    min-width: 28px;
    width: 100%;
    max-width: 28px;
    height: 28px;
    border-radius: 50%;
}
#navbar .dropdown-toggle::after {
    visibility: hidden;
}
#navbar .dropdown-menu {
    right: 0;
    left: -50%;
    top: 120%;
}
/* ================================== */
/*           Navbar end               */
/* ================================== */

/* ================================== */
/*           Sidebar start            */
/* ================================== */
#sidebar .brand-link {
    height: unset;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-bottom: 1px solid white !important;
    background-color: #2a3042;
}
#sidebar .brand-link .abjad {
    background-color: white;
    min-width: 36px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
#sidebarMenu {
    background-color: #2a3042;
}
#sidebarMenu li a {
    color: var(--grey);
    padding: 12px 20px;
    border-radius: 0.25rem;
    font-size: 14px;
}
#sidebarMenu li a.active {
    color: var(--black);
    background-color: white;
}
#sidebarMenu li a:hover {
    background-color: white;
    color: var(--black);
    transition: 0.3s;
}
.sidebar .active {
    background-color: var(--blue);
    color: white;
}
.sidebar li svg {
    width: 16px;
}
/* ================================== */
/*           Sidebar end              */
/* ================================== */

/* ================================== */
/*          Main page start           */
/* ================================== */
#mainPage {
    margin-top: 80px;
    min-height: 100vh !important;
    padding: 26px 16px;
    background-color: var(--light);
}
.input__tanggal {
    width: 175px;
}
.input__tanggal input {
    border: 1px solid var(--grey);
    width: 100%;
    text-align: center;
}
.input__tanggal input:focus {
    border-color: var(--blue) !important;
    outline: var(--blue);
}
.input__tanggal svg {
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
}

/* Input tanggal di form */
.input__tanggal__form input {
    cursor: default;
}
.input__tanggal__form svg {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/* Invalid feedback */
.invalid-feedback {
    font-size: 14px;
}

/* Button export */
.dt-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.dt-buttons button {
    border-radius: 0.25rem !important;
}
.desc__export {
    display: inline-block;
}

/* ================================== */
/*          Main page end             */
/* ================================== */

/* ================================== */
/*               Footer               */
/* ================================== */
footer {
    background-color: white !important;
    color: var(--black) !important;
    border-top: none !important;
    font-size: 14px;
}

/* ================================== */
/*            Date picker             */
/* ================================== */
#ui-datepicker-div {
    width: auto;
    z-index: 9999 !important;
    padding: 0.5rem;
}
#ui-datepicker-div table tbody tr td a.ui-state-highlight {
    border: 1px solid var(--grey);
    background: none;
}
#ui-datepicker-div table tbody tr td a.ui-state-active {
    background-color: var(--blue);
    color: white;
}
#ui-datepicker-div table tbody tr td a {
    border: 0;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.125rem;
    color: var(--black);
}

@media only screen and (min-width: 768px) {
    /* Font weight */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    .dt-buttons {
        gap: 0.75rem !important;
    }

    #mytable ul {
        padding-left: 3.8rem;
    }
}

@media only screen and (min-width: 1200px) {
    /* Dashboard admin */
    .dashboard .keterangan .image-2 {
        max-width: 100px !important;
    }
}

@media only screen and (min-width: 1440px) {
    /* Dashboard admin */
    .dashboard .keterangan .image-2 {
        max-width: 120px !important;
    }
}
